$white: darken(white, 10%)
$black: rgb(10, 20, 35)

//$primary: rgb(155, 85, 0)
$primary: rgb(100, 55, 25)
$primary-hover: lighten($primary, 10%)
//$secondary: rgb(230, 210, 200)
$secondary: rgb(230, 210, 200)
$secondary-hover: lighten($secondary, 10%)

$link-dark: rgb(155, 85, 0)
$link-light: rgb(45, 110, 185)

$exit-btn: rgb(200, 0, 0)

/********************************/
/************ GENERAL ***********/
body
  color: $secondary
  background-color: $primary
/******** GENERAL-END ***********/
/********************************/

/********************************/
/************ HEADER ************/
.header
  &-wrapper
    background-color: $primary
    //noinspection CssUnknownTarget
    background-image: url('bg_sunset.jpg')
    background-repeat: no-repeat
    // sunrise: 32.5% noon: 38% sunset: 45% moon: 55%
    background-position: 45%

  &-ui
    @media screen and (max-width: 767px)
      background-color: $primary
    @media screen and (min-width: 768px)
      background: none

  &-content
    color: $secondary

//&-h2
//  background-color: $alpha-background
//&-text-container
//  background-color: $alpha-background


.burger-btn
  color: $secondary

  &:hover
    color: $secondary-hover

.burger-btn-active
  color: $exit-btn

.app-icon
  fill: $secondary

.navlink
  color: $secondary
  &:hover
    color: $secondary-hover
    text-shadow: 0 0 10px $secondary-hover

.svg-theme-icon
  color: $secondary
  &:hover
    color: $secondary-hover


.burger-menu
  background: linear-gradient(to bottom, $primary 0%, rgba($primary, 0.8) 100%)
/******** HEADER-END ************/
/********************************/


/********************************/
/************* MAIN *************/
.Technologies
  background-color: $black

.Mock
  background-color: $primary
/********* MAIN-END *************/
/********************************/


/********************************/
/************ FOOTER ************/
.footer-wrapper
  background-color: $black

/******** FOOTER-END ************/
/********************************/