.Header
  @media screen and (min-width: 1500px)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

.header-wrapper
  background-size: cover

.theme-button
  background: none
  border: none
  outline: none
  cursor: pointer

  &:disabled
    .svg-theme-icon
      stroke: gray
      cursor: wait

a.text-link
  font-weight: 600
  text-decoration: underline

span.text-link
  font-weight: 600
