.header-ui
  font-size: 2em

  & .container
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    justify-content: space-between
    align-items: center

.header-logo
  display: flex
  width: 1em
  height: 1em


// UI // TODO: Relocate this style to a better place
.navlink
  text-decoration: none
  text-transform: uppercase
  font-weight: 100