.container
  width: 96%
  margin: 0 auto
  padding: 2rem 0
  @media screen and (max-width: 320px)
    width: 100%
  @media screen and (min-width: 1500px)
    font-size: 1.2rem
    width: 1500px
  @media screen and (min-width: 3000px)
    font-size: 1.5rem
    width: 3000px
  @media screen and (min-width: 4000px)
    font-size: 2rem
    width: 3800px

.padding
  padding: 1em .2em

.height
  height: 100vh

  @media screen and (min-width: 1500px)
    height: 500px
