.Tab

  & .window
    display: flex
    flex-direction: column

  & .content-container
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-grow: 1
    overflow: hidden

    &.expanded
      font-size: 1.5em
      position: fixed
      z-index: 3
      margin: 0
      top: 0
      bottom: 0
      left: 3em
      right: 3em
      overflow: auto

      & .content
        overflow: auto

    & .content
      max-height: 100%
      padding: 10px
      margin: 10px 10px 0 10px
      overflow: hidden

      &.browser
        @media screen and (min-width: 1500px)
          width: 80%
          margin-inline: auto

  & .expand-btn
    padding: .5em 0
    background: none
    outline: none
    border: none

  & .exp-btn-to-left,
  & .exp-btn-to-right
    position: fixed
    border: none
    width: 3em
    top: 0
    bottom: 0
    background: linear-gradient(to bottom, rgba(0,0,0,0), transparentize(gray, 0.5) 50%, rgba(0,0,0,0))

  & .exp-btn-to-left
    left: 0
  & .exp-btn-to-right
    right: 0

