body
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  width: 100vw
  height: 100vh

.theme-button
  background: none
  border: none
  outline: none
  cursor: pointer


.svg-theme-icon
  fill: none
  width: 1.2em
  height: 1.2em