$primary: #190528
$navlink: rgb(218, 200, 230)
$navlink-hover: rgb(245, 235, 250)
$content-light: rgb(218, 200, 230)
$content-dark: rgb(39, 38, 43)
$content-colored: rgb(45, 110, 185)
$alpha-background: rgba(39, 38, 43, 0.8)
$burger-menu-bg: rgba($primary, 0.95)
$exit-btn: rgba(200, 0, 0, 1)
$exit-btn-hover: rgba(255, 0, 0, 1)

.header
  &-wrapper
    background-color: $primary
    // TODO: Images do not work on production
    //background-image: url('src/shared/assets/backgrounds/moon.jpg')

  &-ui
    @media screen and (max-width: 767px)
      background-color: $primary
    @media screen and (min-width: 768px)
      background: none

  &-content
    color: $content-light

    &-h2
      background-color: $alpha-background
    &-text-container
      background-color: $alpha-background


.btn-separators-container
  color: $content-light

  &:hover
    color: $navlink-hover

.btn-separators-container-active
  color: $exit-btn

.app-icon
  fill: $content-light

.navlink
  color: $navlink
  &:hover
    color: $navlink-hover
    text-shadow: 0 0 10px $navlink-hover

.svg-theme-icon
  stroke: $content-light
  &:hover
    stroke: $navlink-hover


.header-burger-menu-container
  background-color: $burger-menu-bg